{
  "useTabs": false,
  "tabWidth": 2,
  "importOrder": [
    "<TYPES>",
    "<TYPES>^\\.",
    "^\\$(types)",
    "",
    "^react(-native)?($|/)",
    "",
    "^@react-[\\w-]+",
    "",
    "^\\$(api|consts|context|utils)",
    "",
    "^\\$(assets|styles)",
    "",
    "^\\$(screens|components)",
    "^\\.",
    "",
    "<THIRD_PARTY_MODULES>"
  ],
  "importOrderTypeScriptVersion": "5.2.2"
}
